<!-- {% extends 'books/layout/base.html' %}
{% load static %}

{% block 'content' %}
<h1>Welcome to login page</h1>
<form class="my-3" method="post">
    {% csrf_token%}
    {{form}}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}

{% block 'JS_attachement' %}
<script src="{% static 'books/js/script.js' %}"></script>
{% endblock %} -->



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1> logout // bye </h1>
</body>
</html>